<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ app.author }}" />

    <title>{% block title '' %} - {{ app.title }}</title>

    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>

{% include 'header.twig' %}

<section>
    {% block content %}{% endblock %}
</section>

{% include 'footer.twig' %}

</body>
</html>